<div class="flex flex-row h-full pt-8 md:px-20 overflow-y-auto">
  <div class="w-full rounded-lg">
    <div
      class="bg-white md:px-12 pt-12 pb-6 flex flex-row justify-between items-start">
      <div class="flex flex-row">
        <img
          alt="user profile icon"
          src="../../../../../assets/icons/user_profile_icon.svg" />
        <div class="flex flex-col ml-4">
          <h1 class="text-xl font-semibold">Safwanul Bari</h1>
          <h3 class="text-xs text-gray-400">@swafss</h3>
        </div>
      </div>
      <button *ngIf="userId" class="follow-btn" mat-flat-button>Follow</button>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group class="pt-4 bg-white">
      <mat-tab [label]="userId ? 'Tweets' : 'My Tweets'">
        <div class="bg-gray-50 py-6">
          <app-tweet-card
            *ngFor="let tweet of tweets"
            [timeline]="tweet"></app-tweet-card>
        </div>
      </mat-tab>
      <mat-tab label="Followers"> Content 2 </mat-tab>
      <mat-tab label="Following"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>
