<div
  class="flex flex-row h-full mt-8 px-4 lg:px-20 overflow-y-auto"
  #profileScrollContainer
  infiniteScroll
  [infiniteScrollContainer]="profileScrollContainer"
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="fetchData()">
  <div class="w-full rounded-lg">
    <div
      class="bg-white px-4 pt-4 lg:px-12 md:pt-8 pb-6 flex flex-row justify-between items-start rounded-lg">
      <div class="flex flex-row">
        <img
          alt="user profile icon"
          src="../../../../../assets/icons/user_profile_icon.svg" />
        <div class="flex flex-col ml-4">
          <h1 class="text-xl font-semibold">{{ userName }}</h1>
          <h3 class="text-xs text-gray-400">
            @{{ userName ? userName.replace(' ', '').toLowerCase() : '' }}
          </h3>
        </div>
      </div>
      <button *ngIf="userId" class="follow-btn" mat-flat-button>Follow</button>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group class="pt-4 bg-white max-w-full" (selectedTabChange)="tabChanged($event)">
      <mat-tab [label]="userId ? 'Tweets' : 'My Tweets'">
        <div class="bg-gray-50 pt-6 pb-12 flex flex-col">
          <span
            class="bg-white text-center py-6 w-full rounded-lg"
            *ngIf="fetchedTweets && !tweets?.length"
            >No tweets found</span
          >
          <app-tweet-card
            *ngFor="let tweet of tweets"
            class="w-full"
            [timeline]="tweet"></app-tweet-card>
        </div>
      </mat-tab>
      <mat-tab label="Followers">
        <div class="bg-gray-50 pt-6 pb-12">
          <app-user-follow-list
            [users]="followers"
            [followerList]="true"></app-user-follow-list>
        </div>
      </mat-tab>
      <mat-tab label="Following">
        <div class="bg-gray-50 pt-6 pb-12">
          <app-user-follow-list
            [users]="followings"
            (unfollowUser)="unfollowUser($event)"
            [myProfile]="userId.length > 0 ? false : true"
            [followingList]="true"></app-user-follow-list>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div *ngIf="!fetchedTweets; then twittsList"></div>
  </div>
</div>
<ng-template #twittsList>
  <ng-container *ngIf="true; then twittTemplate"></ng-container>
  <ng-container *ngIf="true; then twittTemplate"></ng-container>
</ng-template>
<ng-template #twittTemplate>
  <div
    class="bg-gray-50 p-4 ring-1 ring-slate-900/5 rounded-lg ml-px mb-2 w-full h-28">
    <div class="flex space-x-4 animate-pulse">
      <div class="rounded-full bg-gray-300 h-10 w-10"></div>
      <div class="flex-1 space-y-6 py-1">
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="space-y-3">
          <div class="grid grid-cols-3 gap-4">
            <div class="h-2 bg-slate-200 rounded col-span-2"></div>
            <div class="h-2 bg-slate-200 rounded col-span-1"></div>
          </div>
          <div class="h-2 bg-slate-200 rounded"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
