<div
  class="home-container flex flex-row h-full pt-8 justify-between space-x-8 md:ml-8">
  <div
    #scrollContainer
    class="flex flex-col overflow-y-scroll w-full"
    infiniteScroll
    [infiniteScrollContainer]="scrollContainer"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="fetchTweetTimelineData()">
    <app-create-tweet></app-create-tweet>
    <app-tweet-timeline
      [fetchedTimelineItems]="fetchedTimeline"
      [timelineItems]="timelineItems"></app-tweet-timeline>
  </div>
  <app-suggested-users
    [myFollowings]="myFollowings"
    class="hidden xl:flex xl:sticky xl:top-0 xl:mb-8"></app-suggested-users>
</div>
