<div class="mt-6 flex flex-1 max-h-full flex-col">
  <div class="bg-white mb-3 p-6">
    <div class="flex flex-row gap-2 items-center">
      <div class="rounded-full overflow-hidden">
        <img src="../../../../../assets/icons/avatar_1.svg" />
      </div>
      <h6 class="font-semibold">Safwanul Bari</h6>
    </div>
    <p class="mt-3">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic.
    </p>
    <mat-divider class="tweets-divider"></mat-divider>
    <div class="flex flex-row interaction-items gap-8 lg:gap-24">
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/thums_up_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/chat_circle_text_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/repeat_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
    </div>
  </div>
  <div class="bg-white mb-3 p-6">
    <div class="flex flex-row gap-2 items-center">
      <div class="rounded-full overflow-hidden">
        <img src="../../../../../assets/icons/avatar_1.svg" />
      </div>
      <h6 class="font-semibold">Safwanul Bari</h6>
    </div>
    <p class="mt-3">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic.
    </p>
    <mat-divider class="tweets-divider"></mat-divider>
    <div class="flex flex-row interaction-items gap-8 lg:gap-24">
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/thums_up_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/chat_circle_text_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/repeat_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
    </div>
  </div>
  <div class="bg-white mb-3 p-6">
    <div class="flex flex-row gap-2 items-center">
      <div class="rounded-full overflow-hidden">
        <img src="../../../../../assets/icons/avatar_1.svg" />
      </div>
      <h6 class="font-semibold">Safwanul Bari</h6>
    </div>
    <p class="mt-3">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic.
    </p>
    <mat-divider class="tweets-divider"></mat-divider>
    <div class="flex flex-row interaction-items gap-8 lg:gap-24">
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/thums_up_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/chat_circle_text_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/repeat_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
    </div>
  </div>
  <div class="bg-white mb-3 p-6">
    <div class="flex flex-row gap-2 items-center">
      <div class="rounded-full overflow-hidden">
        <img src="../../../../../assets/icons/avatar_1.svg" />
      </div>
      <h6 class="font-semibold">Safwanul Bari</h6>
    </div>
    <p class="mt-3">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic.
    </p>
    <mat-divider class="tweets-divider"></mat-divider>
    <div class="flex flex-row interaction-items gap-8 lg:gap-24">
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/thums_up_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/chat_circle_text_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/repeat_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
    </div>
  </div>
  <div class="bg-white mb-3 p-6">
    <div class="flex flex-row gap-2 items-center">
      <div class="rounded-full overflow-hidden">
        <img src="../../../../../assets/icons/avatar_1.svg" />
      </div>
      <h6 class="font-semibold">Safwanul Bari</h6>
    </div>
    <p class="mt-3">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic.
    </p>
    <mat-divider class="tweets-divider"></mat-divider>
    <div class="flex flex-row interaction-items gap-8 lg:gap-24">
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/thums_up_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/chat_circle_text_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <img alt="like icon" src="../../../../../assets/icons/repeat_icon.svg">
            <mat-divider class="h-3" [vertical]="true"></mat-divider>
            <span>52</span>
        </div>
    </div>
  </div>
</div>
