<div class="flex flex-col p-6 bg-white rounded-lg">
  <span class="pl-3 mb-4">Who to follow</span>
  <div
    class="menu-list flex max-h-full flex-col gap-4 w-72 overflow-y-auto">
    <div class="flex flex-row gap-2 pl-3 justify-between items-center">
      <div class="flex flex-row gap-2">
        <div class="rounded-full overflow-hidden h-10">
          <img alt="home icon" src="../../../../../assets/icons/avatar_1.svg" />
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm">Safwanul Bari</h5>
          <h6 class="text-xs">@safwanul</h6>
        </div>
      </div>
      <button class="follow-btn" mat-flat-button>Follow</button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-row gap-2 pl-3 justify-between items-center">
      <div class="flex flex-row gap-2">
        <div class="rounded-full overflow-hidden h-10">
          <img alt="home icon" src="../../../../../assets/icons/avatar_1.svg" />
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm">Safwanul Bari</h5>
          <h6 class="text-xs">@safwanul</h6>
        </div>
      </div>
      <button class="follow-btn" mat-flat-button>Follow</button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-row gap-2 pl-3 justify-between items-center">
      <div class="flex flex-row gap-2">
        <div class="rounded-full overflow-hidden h-10">
          <img alt="home icon" src="../../../../../assets/icons/avatar_1.svg" />
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm">Safwanul Bari</h5>
          <h6 class="text-xs">@safwanul</h6>
        </div>
      </div>
      <button class="follow-btn" mat-flat-button>Follow</button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-row gap-2 pl-3 justify-between items-center">
      <div class="flex flex-row gap-2">
        <div class="rounded-full overflow-hidden h-10">
          <img alt="home icon" src="../../../../../assets/icons/avatar_1.svg" />
        </div>
        <div class="flex flex-col">
          <h5 class="text-sm">Safwanul Bari</h5>
          <h6 class="text-xs">@safwanul</h6>
        </div>
      </div>
      <button class="follow-btn" mat-flat-button>Follow</button>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
