<div class="flex flex-col p-6 bg-white rounded-lg sticky">
  <span class="pl-3 mb-4">Menu</span>
  <div class="menu-list flex flex-col gap-4">
    <div class="flex flex-row gap-2 pl-3">
      <img alt="home icon" src="../../../../../assets/icons/home_icon.svg" />
      <span>Timeline</span>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-row gap-2 pl-3">
      <img alt="home icon" src="../../../../../assets/icons/user_icon.svg" />
      <span>My Profile</span>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-row gap-2 pl-3">
      <img
        alt="home icon"
        src="../../../../../assets/icons/message_text_icon.svg" />
      <span>Messages</span>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-row gap-2 pl-3">
      <img alt="home icon" src="../../../../../assets/icons/more_icon.svg" />
      <span>More</span>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
