<div class="flex flex-row justify-evenly md:hidden fixed bottom-0 z-20 py-3 px-4 gap-4 bg-[#4aa6f6] w-full">
  <a routerLink="/home"
    ><img src="../../../../assets/icons/home_icon_32.svg"
  /></a>
  <a routerLink="/profile"
    ><img src="../../../../assets/icons/user_icon_32.svg"
  /></a>
  <a routerLink="/explore-users"
    ><img src="../../../../assets/icons/users_icon_32.svg"
  /></a>
  <a routerLink="/coming-soon"
    ><img src="../../../../assets/icons/more_icon_32.svg"
  /></a>
</div>
