<div
  class="flex flex-col h-full pt-8 px-4 md:px-20 overflow-y-auto"
  [formGroup]="exploreUsersForm">
  <mat-form-field class="search-field w-full sm:w-2/3" appearance="outline">
    <img
      matPrefix
      class="mr-2 ml-6"
      alt="search icon"
      src="../../../../assets/icons/magnifier_icon.svg" />
    <input
      class="ml-2"
      matInput
      minlength="3"
      #searchInput
      placeholder="Search user"
      formControlName="textSearch" />
    <img
      *ngIf="searchInput.value"
      matSuffix
      (click)="exploreUsersForm.controls['textSearch'].setValue('')"
      class="ml-2 mr-6 h-3"
      alt="search icon"
      src="../../../../assets/icons/cross_icon.svg" />
  </mat-form-field>
  <div class="w-full" *ngIf="!fetchedUsers; then usersTemplate"></div>
  <div
    *ngIf="fetchedUsers"
    class="flex flex-row w-full justify-between flex-wrap mt-6 pb-12">
    <span *ngIf="!users?.length">No users found</span>
    <ng-container *ngFor="let user of users">
      <div
        (click)="navigateToProfile(user)"
        class="flex flex-row gap-2 justify-between items-center w-full min-w-[300px] xl:w-[48%] bg-white p-6 mb-6 rounded-lg cursor-pointer">
        <div class="flex flex-row gap-2">
          <div class="rounded-full overflow-hidden h-10">
            <img
              alt="home icon"
              src="../../../../../assets/icons/avatar_1.svg" />
          </div>
          <div class="flex flex-col">
            <h5 class="text-sm">{{ user.username }}</h5>
            <h6 class="text-xs">
              @{{ user?.username?.replace(' ', '')?.toLowerCase() }}
            </h6>
          </div>
        </div>
        <button
          class="follow-btn"
          (click)="$event.stopPropagation(); unfollow(user.id.toString())"
          mat-flat-button
          *ngIf="followingList.includes(user.id)">
          Unfollow
        </button>
        <button
          class="follow-btn"
          (click)="$event.stopPropagation(); follow(user.id.toString())"
          mat-flat-button
          *ngIf="!followingList.includes(user.id)">
          Follow
        </button>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #usersTemplate>
  <ng-container *ngIf="true; then userTemplate"></ng-container>
  <ng-container *ngIf="true; then userTemplate"></ng-container>
</ng-template>
<ng-template #userTemplate>
  <div class="flex flex-col xl:flex-row justify-between row-wrap w-full mt-4">
    <div
      class="bg-gray-50 p-4 ring-1 ring-slate-900/5 mb-2 w-full rounded-lg xl:w-[48%] h-28">
      <div class="flex space-x-4 animate-pulse">
        <div class="rounded-full bg-gray-300 h-10 w-10"></div>
        <div class="flex-1 space-y-6 py-1">
          <div class="h-2 bg-slate-200 rounded"></div>
          <div class="space-y-3">
            <div class="grid grid-cols-3 gap-4">
              <div class="h-2 bg-slate-200 rounded col-span-2"></div>
              <div class="h-2 bg-slate-200 rounded col-span-1"></div>
            </div>
            <div class="h-2 bg-slate-200 rounded"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-gray-50 p-4 ring-1 ring-slate-900/5 mb-2 w-full rounded-lg xl:w-[48%] h-28">
      <div class="flex space-x-4 animate-pulse">
        <div class="rounded-full bg-gray-300 h-10 w-10"></div>
        <div class="flex-1 space-y-6 py-1">
          <div class="h-2 bg-slate-200 rounded"></div>
          <div class="space-y-3">
            <div class="grid grid-cols-3 gap-4">
              <div class="h-2 bg-slate-200 rounded col-span-2"></div>
              <div class="h-2 bg-slate-200 rounded col-span-1"></div>
            </div>
            <div class="h-2 bg-slate-200 rounded"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
