/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Space Grotesk', 'Helvetica Neue', sans-serif !important;
}
.mdc-notched-outline__notch {
  border-right: none;
}
.mat-mdc-unelevated-button.mat-mdc-button-base {
  height: 40px;
}
.mat-mdc-form-field-infix {
  min-height: 40px;
}
.mat-mdc-form-field-infix {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.mat-mdc-input-element.mdc-text-field__input.mat-mdc-form-field-input-control {
  font-size: 14px;
}